* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.geist-mono-text {
  font-size: clamp(1em, 1vw + 0.3em, 1.2em);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  padding-block: 30px;
  font-style: normal;
}

.geist-heading {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-style: normal;
}

body {
  width: 100%;
  padding-inline: 14px;
  max-width: 720px;
  margin: 0 auto;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 40vh;
}

.scroll-island-wrapper {
  width: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  bottom: -4px;
  padding: 0.6em 1em;
  background-color: black;
  border-radius: 40px;
}

.island-heading {
  font-size: 14px;
  /* padding-left: 12px; */
  color: white;
  width: max-content;
}

.stroke-d-bg\/20 {
  stroke: #d3d3d32f;
}

.stroke-d-bg\/80 {
  stroke: white;
}

.scroll-progress{
  width: 25px;
  height: 25px;
}

.scroll-nav-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}