* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.geist-mono-text {
  font-size: clamp(1em, 1vw + 0.3em, 1.2em);
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  padding-block: 30px;
  font-style: normal;
}

.geist-heading {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: -0.02em;
  font-style: normal;
}

body {
  width: 100%;
  padding-inline: 14px;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 40vh;
}

.scroll-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.scroll-island-container {
  /* position: sticky; */
  position: fixed;
  left: 0;
  padding-inline: 3vw;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 2;
}

[data-scroll-island="open"] {
  /* --elastic-in: linear(
    0,
    0.0309,
    0.1155,
    0.2409,
    0.3936,
    0.5603,
    0.7291,
    0.8894,
    1.0328,
    1.1533,
    1.2468,
    1.3118,
    1.3486,
    1.3589,
    1.3462,
    1.3145,
    1.2686,
    1.2132,
    1.1531,
    1.0926,
    1.0355,
    0.9845,
    0.942,
    0.9092,
    0.8867,
    0.8743,
    0.8712,
    0.8764,
    0.8882,
    0.905,
    0.9251,
    0.9467,
    0.9684,
    0.9888,
    1.0069,
    1.0219,
    1.0334,
    1.0412,
    1.0453,
    1.0462,
    1.0441,
    1.0397,
    1.0336,
    1.0263,
    1.0185,
    1.0108,
    1.0035,
    0.9971,
    0.9918,
    0.9878,
    0.9851,
    0.9837,
    0.9834,
    0.9843,
    0.9859,
    0.9881,
    0.9908,
    0.9936,
    0.9963,
    0.9989,
    1.0012,
    1.0031,
    1.0045,
    1.0054,
    1.0059,
    1.0059,
    1.0056,
    1.005,
    1.0042,
    1.0032,
    1.0022,
    1.0012,
    1.0003,
    0.9995,
    0.9988,
    0.9984,
    0.998,
    0.9979,
    0.9979,
    0.998,
    0.9982,
    0.9985,
    0.9989,
    0.9992,
    0.9996,
    0.9999,
    1.0002,
    1.0004,
    1.0006,
    1.0007,
    1.0008,
    1.0008,
    1.0007,
    1.0006,
    1.0005,
    1.0004,
    1.0003,
    1.0001,
    1,
    0.9999,
    1
  ); */
  --elastic-in: linear(0, 0.0131, 0.0497, 0.1056, 0.1766, 0.2588, 0.3486, 0.4426, 0.5378, 0.6316, 0.7218, 0.8066, 0.8846, 0.9547, 1.0162, 1.0687, 1.1122, 1.1468, 1.1728, 1.1907, 1.2013, 1.2053, 1.2034, 1.1966, 1.1857, 1.1716, 1.155, 1.1367, 1.1175, 1.098, 1.0786, 1.06, 1.0424, 1.0261, 1.0115, 0.9985, 0.9875, 0.9782, 0.9709, 0.9653, 0.9613, 0.9589, 0.9579, 0.9581, 0.9594, 0.9615, 0.9643, 0.9676, 0.9713, 0.9752, 0.9792, 0.9832, 0.9871, 0.9907, 0.9941, 0.9972, 0.9999, 1.0022, 1.0042, 1.0058, 1.007, 1.0078, 1.0084, 1.0086, 1.0086, 1.0084, 1.008, 1.0074, 1.0068, 1.006, 1.0052, 1.0044, 1.0036, 1.0028, 1.002, 1.0013, 1.0007, 1.0001, 0.9996, 0.9992, 0.9989, 0.9986, 0.9984, 0.9983, 0.9982, 0.9982, 0.9983, 0.9983, 0.9985, 0.9986, 0.9987, 0.9989, 0.9991, 0.9992, 0.9994, 0.9996, 0.9997, 0.9998, 1, 1.0001, 1);
  transition: all 1.2s var(--elastic-in);
}

[data-scroll-island="closed"] {
  --elastic-in: linear(
    0,
    0.0088,
    0.0327,
    0.068,
    0.1117,
    0.1614,
    0.2149,
    0.2706,
    0.327,
    0.3831,
    0.4379,
    0.4907,
    0.5412,
    0.5889,
    0.6336,
    0.6751,
    0.7135,
    0.7487,
    0.7809,
    0.81,
    0.8362,
    0.8597,
    0.8807,
    0.8994,
    0.9158,
    0.9302,
    0.9428,
    0.9537,
    0.9632,
    0.9712,
    0.9781,
    0.9839,
    0.9888,
    0.9928,
    0.9961,
    0.9988,
    1.001,
    1.0026,
    1.0039,
    1.0049,
    1.0055,
    1.006,
    1.0062,
    1.0063,
    1.0062,
    1.0061,
    1.0059,
    1.0056,
    1.0053,
    1.005,
    1.0046,
    1.0043,
    1.0039,
    1.0036,
    1.0032,
    1.0029,
    1.0026,
    1.0023,
    1.0021,
    1.0018,
    1.0016,
    1.0014,
    1.0012,
    1.0011,
    1.0009,
    1.0008,
    1.0006,
    1.0005,
    1.0005,
    1.0004,
    1.0003,
    1.0002,
    1.0002,
    1.0001,
    1.0001,
    1.0001,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1,
    1
  );
  transition: all .7s var(--elastic-in);
}

.scroll-island-wrapper {
  width: 280px;
  height: 44px;
  bottom: -4px;
  overflow: hidden;
  cursor: pointer;
  padding: 0.6em 0.7em;
  background-color: black;
  border-radius: 40px;
}

.island-heading {
  font-size: 14px;
  padding-left: 12px;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: white;
  width: max-content;
}

.stroke-d-bg\/20 {
  stroke: #d3d3d32f;
}

.stroke-d-bg\/80 {
  stroke: white;
}

.scroll-progress {
  width: 25px;
  height: 25px;
}

.scroll-nav-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* when open */
[data-scroll-island="open"] {
  height: 280px;
  width: 340px;
  padding: 1.2em 1em;
}


.island-nav{
  padding-top: 5em;
}

.island-nav-text{
  padding-block: .5em;
  color: wheat;
  font-size: 11.5px;
  font-family: 'Geist Mono', monospace;
}
